<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../../css/browser_action.css">	
</head>
<body>

<div id="app" class="bookmarks" v-cloak>
	<h1 class="title">Fan<span>tag</span>ulus</h1>
    <h3 class="sub-title">Tag the Web!</h3>
	
	<h3>My Bookmarks</h3>
    <ul>
        <li class="bookmark pointer" v-for="(bookmark, index) in bookmarks" @click="openBookmark(bookmark)">
            <h4>{{ bookmark.title }}</h4>
            <!-- <a :href="bookmark.url">{{ bookmark.url }}</a> -->
            <span class="url">{{ bookmark.url }}</span>
            <span class="controls">
            	<span class="edit pointer" @click.stop="editBookmark(index)">
                    Edit
                    <!-- <svg aria-hidden="true" data-prefix="fas" data-icon="edit" class="svg-inline--fa fa-edit fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"></path></svg> -->
                </span>
                <span class="divider"> | </span>
            	<span class="delete pointer" @click="confirmDelete = index">
                    Delete
                    <!-- <svg aria-hidden="true" data-prefix="fas" data-icon="trash" class="svg-inline--fa fa-trash fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm415.2 56.7L394.8 467c-1.6 25.3-22.6 45-47.9 45H101.1c-25.3 0-46.3-19.7-47.9-45L32.8 140.7c-.4-6.9 5.1-12.7 12-12.7h358.5c6.8 0 12.3 5.8 11.9 12.7z"></path></svg> -->
                </span>
            </span>
            <span class="confirm-delete" v-if="confirmDelete == index">
                <span>Delete? (Can't be undone)</span>
                <span class="button button-small danger" @click="deleteBookmark(bookmark)">Yes</span>
                <span class="button button-small" @click="confirmDelete = null">Cancel</span>
            </span>
        </li>
    </ul>

    <transition name="fade">
    <div class="edit-bookmark" v-if="bookmark != null && editing">
        <h3>Edit Bookmark</h3>
        <h4>URL</h4>
        <input class="text url-input" type="text" v-model="bookmarkCopy.url">
        <h4>Description</h4>
        <input class="text" type="text" v-model="bookmarkCopy.title">
        <h4>Tags</h4>
        <div class="tags-input">
            <span class="tag" v-for="(tag, index) in bookmarkCopy.tags">
                {{ tag.name }}
                <span class="remove" @click="removeTag(index)">x</span>
            </span>
            <input type="text" placeholder="type a tag and hit enter" v-model="newTag.name" v-on:keydown.enter="addTag()">
        </div>

        <h4>Clippings</h4>
        <ul class="clippings">
            <li v-for="(clipping, index) in bookmarkCopy.clippings">
                <span v-if="editingClipping != index">
                    {{ clipping }}
                    <span class="controls">
                        <span class="edit pointer" @click="editClipping(index)"><svg aria-hidden="true" data-prefix="fas" data-icon="edit" class="svg-inline--fa fa-edit fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"></path></svg></span>
                        <span class="delete pointer" @click="confirmDeleteClipping = index"><svg aria-hidden="true" data-prefix="fas" data-icon="trash" class="svg-inline--fa fa-trash fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm415.2 56.7L394.8 467c-1.6 25.3-22.6 45-47.9 45H101.1c-25.3 0-46.3-19.7-47.9-45L32.8 140.7c-.4-6.9 5.1-12.7 12-12.7h358.5c6.8 0 12.3 5.8 11.9 12.7z"></path></svg></span>
                    </span>
                     <span class="confirm-delete-clipping" v-if="confirmDeleteClipping == index">
                        <span>Delete? (Can't be undone)</span>
                        <span class="button button-small danger" @click="deleteClipping(index)">Yes</span>
                        <span class="button button-small" @click="confirmDeleteClipping = null">Cancel</span>
                    </span>
                </span>
                <textarea v-model="clipping" v-if="editingClipping == index"></textarea>
                <div class="button button-small danger" @click="cancelEditClipping(index)" v-if="editingClipping == index">Cancel</div>
                <div class="button button-small" @click="saveClipping(index, clipping)" v-if="editingClipping == index">Save</div>
            </li>
        </ul>
        <textarea v-model="newClipping" v-if="editingNewClipping"></textarea>
        <div class="button button-small" @click="editingNewClipping = true" v-if="!editingNewClipping">Add Clipping</div>
        <div class="button button-small danger" @click="editingNewClipping = false" v-if="editingNewClipping">Cancel</div>
        <div class="button button-small" @click="saveNewClipping" v-if="editingNewClipping">Save</div>
        <div class="controls">
            <div class="button" @click="saveBookmark" v-if="bookmarkChanged">Save Bookmark</div>
            <div class="button disabled" v-else>Save Bookmark</div>
            <div class="button" @click="resetBookmark" v-if="!bookmarkChanged">Close</div>
            <div class="button danger" @click="confirmCancel = true" v-if="bookmarkChanged">Cancel</div>
            <transition name="fade">
            <span class="editing-message" v-if="editingMessage">{{ editingMessage }}</span>
            </transition>
        </div>

        <div class="edit-dialog" v-if="confirmCancel">
            <span class="confirm-cancel" v-if="confirmCancel">
                <span>Save changes first?</span>
                <span class="button button-small danger" @click="discardBookmarkChanges">Discard</span>
                <span class="button button-small" @click="saveBookmark">Save</span>
            </span>
        </div>
    </div><!-- .edit-bookmark -->
    </transition>
</div>

<script type="text/javascript" src="../../js/vue.2.5.16.min.js"></script>
<script type="text/javascript" src="../../js/moment.min.js"></script>
<script type="text/javascript" src="../../js/Functions.js"></script>
<script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
<script type="text/javascript" src="background.js"></script>
</body>
</html>