<!doctype html>
<link rel="stylesheet" type="text/css" href="../../css/browser_action.css">	

<div id="mainPopup">

<div id="app">
    <h1>Fan<span>tag</span>ulus</h1>
    <h3>Tag the Web!</h3>
    <h4>Url</h4>
    <input class="text url-input" type="text" v-model="bookmark.url">
    <h4>Description</h4>
    <input class="text" type="text" v-model="bookmark.title">
    <h4>Tags</h4>
    <div class="tags-input">
        <span class="tag" v-for="(tag, index) in bookmark.tags">
            {{ tag.name }}
            <span class="remove" @click="removeTag(index)">x</span>
        </span>
        <input type="text" placeholder="type a tag and hit enter" v-model="newTag.name" v-on:keydown.enter="addTag()">
    </div>

    <h4>Clipping</h4>
    <textarea v-for="(clipping, index) in bookmark.clippings" v-model="bookmark.clippings[index]"></textarea>
    <textarea v-model="newClipping"></textarea>
    <div class="button button-small" @click="saveNewClipping" v-if="newClipping != null">Save</div>
    <div class="button button-small disabled" v-else>Save</div>
    <div class="button button-small danger" @click="newClipping = null" v-if="newClipping != null">Cancel</div>
    <div class="popup controls">
        <div class="button" @click="pasteSelection">Get clipping</div>
        <div class="button" @click="saveBookmark">Save Bookmark</div>
        <div class="button" @click="openBookmarks">My Bookmarks</div>
    </div>

    <transition name="fade">
        <div class="message" v-if="message"><span>{{ message }}</span></div>
    </transition>
</div>

</div>

<script type="text/javascript" src="../../js/vue.2.5.16.min.js"></script>
<script type="text/javascript" src="../../js/md5.js"></script>
<script type="text/javascript" src="../../js/moment.min.js"></script>
<script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
<script type="text/javascript" src="browser_action.js"></script>